@import './variables.scss';
@font-face {
  font-family: pangmen;
  src: url(../font/pangmen.ttf);
}
*{
  box-sizing: border-box;
}

html, body{
  height:100%;
  width: 100%;
  font-family:"Source Han Sans CN";
}
body {
  color: #fff;
  font-size: 16px;
  display:flex;
  justify-content:center;
  align-items: center;
  background-color: #04020e;
}
#app{
  height:100%;
  width:100%;
  background:  url(~@/images/common/bg@2x.png) center top;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100%;
}
#app>div{
  width:1920px;
  height:1080px;
  margin:0 auto;
}
.clearfix:after,
.clearfix:before {
  display: table;
  content: " "
}

.clearfix:after {
  clear: both
}

.pulll_left {
  float: left;
}

.pulll_right {
  float: right;
}
ul {
  margin:0;
  padding:0;
  list-style:none;
  
}

/**公用**/

.bg_img{
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.el-select.chart_options{
  .el-input__inner{
    background-color:rgba(32, 219, 238, 0.2);
    border-radius:12px;
    border:1px solid #20DBEE;
    height:24px;
    line-height:24px;
    font-size:16px;
    color:#fff;
  }
  .el-input__icon{
    line-height:24px;
    color:#fff;
  }
}
.el-select-dropdown.chart_options_dropdown{
    background: rgba(32, 219, 238, 0.2);
    border: 0px solid #20DBEE;
    border-radius: 10px;
    .popper__arrow{
      display: none;
    }
    .el-select-dropdown__list{
      padding:11px 0;
    }
    .el-select-dropdown__item{
      height:30px;
      line-height:30px;
      color:#fff;
      text-align:center;
      background: rgba(255,255,255,.0);
      font-size:16px;
    }
    .el-select-dropdown__item.selected{
      background: rgba(255,255,255,.2);
      color:#fff;
    }
    .el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
      background: rgba(255,255,255,.2);
      color:#fff;
    }
}

.legend_title {
  padding-left: 9px;
  border-left: 4px solid #20DBEE;
  color:#fff;
  font-size:16px;
}

.el-dialog.diaModal {
  width:1097px;
  height:537px;
  background-image: url(~@/images/common/bgbgdia@2x.png);
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  transform: translateY(-50%);
  margin-bottom:0;
  top:50%;
}
.diaModal>.el-dialog__header{
  padding:0;
}
.diaModal .dia-header{
  margin:0 auto;
}
.diaModal .el-dialog__body{
  padding:15px 70px;
  color:#fff;
  font-size: 18px;
  line-height:36px;
}
.dia-list>ul{
  display:flex;
  >li{
    width:50%;
    >span{
      color:$recordText;
    }
  }
}
.dia-note{
  color:$warnText;
}
.dia-intro,
.dia-note {
  margin:12px 0 15px 0;
}
.dia-close{
  width:33px;
  height:33px;
  background-image: url(~@/images/common/gb_icon@2x.png);
  position: absolute;
  top:27px;
  right:54px;
  cursor: pointer;
}





