@import './variables.scss';
@font-face {
  font-family: pangmen;
  src: url(../font/pangmen.ttf);
}
*{
  box-sizing: border-box;
}

html, body{
  height:100%;
  width: 100%;
  font-family:"Source Han Sans CN";
}
body {
  color: #fff;
  font-size: 16px;
  display:flex;
  justify-content:center;
  align-items: center;
  background-color: #04020e;
}
#app{
  height:100%;
  width:100%;
  background:  url(~@/images/common/bg@2x.png) center top;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100%;
}
#app>div{
  width:1920px;
  height:1080px;
  margin:0 auto;
}
.clearfix:after,
.clearfix:before {
  display: table;
  content: " "
}

.clearfix:after {
  clear: both
}

.pulll_left {
  float: left;
}

.pulll_right {
  float: right;
}
ul {
  margin:0;
  padding:0;
  list-style:none;
  
}
.el-select.MainBox_1_1-select {
  position: absolute;
  right: 0;
  top: 0;
  width:112px;
  .el-input--suffix .el-input__inner {
    background: transparent;
    border-color: rgba(0, 228, 255, 1);
    color: #fff;
    font-size: 14px;
    height:32px;
    line-height: 32px;
    // padding-left:8px;
    // padding-right:16px;
  }
}




